/* Pretendard https://cactus.tistory.com/306 */
 @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: url(../font/Pretendard-Thin.woff2) format('woff2'),
         url(../font/Pretendard-Thin.woff) format('woff'),
         url(../font/Pretendard-Thin.otf) format('opentype');
  }
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: url(../font/Pretendard-ExtraLight.woff2) format('woff2'),
         url(../font/Pretendard-ExtraLight.woff) format('woff'),
         url(../font/Pretendard-ExtraLight.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url(../font/Pretendard-Light.woff2) format('woff2'),
         url(../font/Pretendard-Light.woff) format('woff'),
         url(../font/Pretendard-Light.otf) format('opentype');
    }
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Pretendard-Regular.woff2) format('woff2'),
         url(../font/Pretendard-Regular.woff) format('woff'),
         url(../font/Pretendard-Regular.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url(../font/Pretendard-Medium.woff2) format('woff2'),
         url(../font/Pretendard-Medium.woff) format('woff'),
         url(../font/Pretendard-Medium.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url(../font/Pretendard-SemiBold.woff2) format('woff2'),
         url(../font/Pretendard-SemiBold.woff) format('woff'),
         url(../font/Pretendard-SemiBold.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Pretendard-Bold.woff2) format('woff2'),
         url(../font/Pretendard-Bold.woff) format('woff'),
         url(../font/Pretendard-Bold.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: url(../font/Pretendard-ExtraBold.woff2) format('woff2'),
         url(../font/Pretendard-ExtraBold.woff) format('woff'),
         url(../font/Pretendard-ExtraBold.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: url(../font/Pretendard-Black.woff2) format('woff2'),
         url(../font/Pretendard-Black.woff) format('woff'),
         url(../font/Pretendard-Black.otf) format('opentype');
    }

@font-face {
     font-family: 'PP Neue Machina';
     font-style: normal;
     font-weight: 300;
     src: url(../font/PPNeueMachina-Light.otf) format('opentype');
}

@font-face {
     font-family: 'PP Neue Machina';
     font-style: normal;
     font-weight: 400;
     src: url(../font/PPNeueMachina-Regular.otf) format('opentype');
}

@font-face {
     font-family: 'PP Neue Machina';
     font-style: normal;
     font-weight: 800;
     src: url(../font/PPNeueMachina-Ultrabold.otf) format('opentype');
}

body {font-family: 'Pretendard', sans-serif;}

.machina {
     font-family: 'PP Neue Machina';
}