::-webkit-scrollbar {
    width: 6px;
  }
   
  ::-webkit-scrollbar-track {
    /* background: #eeeeee;
    border-radius: 3px; */
    display: none;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #8800ff;
    border-radius: 3px;
  }
html, body {
    display: block;
    width: 100vw;
    height: 9000px;
    background-color: #000000;
    color: #ffffff;
    cursor: none;
    overflow-x: hidden;
}

#header {
    display: block;
    position: fixed;
    width: 100%;
    height: 69px;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 9998;
}
.header-menu {
    display: block;
    position: absolute;
    width: calc(100% - 100px);
    height: 67px;
    /* margin: 0 50px; */
    top: 0;
    right: 50px;
    left: 50px;
}
.header-line {
    display: block;
    position: absolute;
    width: calc(100% - 100px);
    height: 2px;
    /* margin: 0 50px; */
    right: 50px;
    bottom: 0;
    left: 50px;
    background-color: #7F7F7F;
}
.nav-left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 67px;
}
.nav-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 67px;
    overflow: hidden;
}

.nav-btn {
    display: block;
    position: absolute;
    font-size: 22px; 
    font-weight: 300;
    color: #ffffff;
    height: 24px;
    line-height: 24px;
    top: 24px;
}
.main-btn {
    left: 0;
}
.main-team-btn {
    left: 150px;
}
.video-btn {
    left: 450px;
}
.team-btn {
    right: -120px;
    display: block;
}



.ex-btn-area {
    display: block;
    width: 225px;
    height: 225px;
    border: 2px solid #ffffff;
    border-radius: 9999%;
    position: fixed;
    top: 118px;
    right: 90px;
    font-size: 32px;
    z-index: 9999;
}
.ex-btn {
    display: block;
    position:relative;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding: 2px;
    border-radius: 9999%;
}
.ex-btn-inner {
    display: flex;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    width: 80%;
    height: 80%;
    margin: calc(10% - 2px);
    border-radius: 9999%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.ex-btn-bg {
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 9999%;
    top: 0;
    left: 0;
    background-color: #8800ff;
    transform-origin: 50% 50%;
    transform: scale(0);
}

#content {
    display: block;
    position: relative;
    width: 100%;
}

.main {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;

}
.main-wrap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main-text {
    display: block;
    position: absolute;
    left: 50px;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.6px;
    line-height: 30px;
}
.main-text1 {
    top: 110px;
}
.main-text2 {
    top: 260px;
}
.main-title {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 29vw;
    font-weight: 800;
    line-height: 29vw;
    /* text-align: center; */
}
.title-el {
    display: inline-block;
    position: relative;
    height: 27vw;
    line-height: 27vw;
}
.title-ctrl {
    margin-left: 20px;
    width: 58vw;
}
.title-star {
    position: absolute;
    width: 20vw;
    height: 20vw;
    margin: 5vw 0 0 -5vw;
    background-image: url(../img/czstar.png);
    background-position: center center;
    background-size: 120% 120%;
    font-size: 0;
    text-indent: -9999;
    color: transparent;
}
.title-z {
    margin-left: 12vw;
}


.main-bg {
    display: block;
    position: absolute;
    top: 69px;
    right: 50px;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 69px);
    background-image: linear-gradient(90deg, #80808040 1%, transparent 0),
                      linear-gradient(#80808040 1%, transparent 0);
    background-size: 7vw 7vw;
    background-position: 4vw 0vw;
}

.section-wrap {
    display: block;
    width: 100%;
    height: 100%;
}
.section-title {
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-top: 129px;
}
.title-num {
    display: inline-block;
    width: 150px;
    margin-left: 50px;
    height: 48px;
}
.title-text {
    display: inline-block;
    height: 48px;
}
.title-line {
    display: block;
    width: calc(100% - 100px);
    height: 2px;
    margin-left: 50px;
    background-color: #7F7F7F;
}
.line-design {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #7F7F7F;
    margin-top: 4px;
    margin-bottom: 16px;
}

.about {
    display: block;
    width: 100%;
}
.about-content {
    display: flex;
    width: calc(100% - 100px);
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 200px;
    margin-left: 50px;
    flex-direction: column;
    padding-top: 280px;
}
.name-mean {
    display: flex;
    width: 100%;
    margin-top: 120px;
}
.mean-left {
    display: block;
    width: 85px;
    font-size: 18px;
    /* padding-top: 16px; */
}
.mean-right {
    display: flex;
    width: calc(100% - 450px);
    margin-left: 365px;
    /* padding-top: 16px; */
}
.mean-text {
    display: block;
    width: 450px;
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 1px;
}
.mean-title {
    display: block;
    width: calc(100% - 450px);
    font-size: 10vw;
    font-weight: 800;
    line-height: 9vw;
}
.mean-title2 {
    display: block;
    width: calc(100% - 450px);
    font-size: 8vw;
    font-weight: 800;
    line-height: 7vw;
}


.bg {
    display: block;
    width: 100%;
}
.bg-content {
    display: flex;
    width: calc(100% - 100px);
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 200px;
    margin-left: 50px;
    padding-top: 360px;
}
.bg-stack-area {
    display: block;
    width: 600px;
    height: 638px;
    overflow: hidden;
}

.bg-stack {
    width: 600px;
    position: relative;
    height: 104px;
    border-top: 2px solid #7F7F7F;
    border-bottom: 2px solid #7F7F7F;
    margin-bottom: -2px;
}
.quotation {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 17px;
    margin-left: 6px;
    background-color: chartreuse;
}
.bg-talk {
    display: block;
    position: relative;
    width: 600px;
    height: 71px;
    font-size: 28px;
    line-height: 71px;
}
.bg-talk p {
    margin-left: 6px;
}
.emoji {
    display: block;
    width: 40px;
    height: 40px;
    background-color: chocolate;
    position: absolute;
    top: 17px;
    right: 6px;
}
.bg-text {
    display: block;
    width: 750px;
    margin-left: 170px;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 52px;
}


.project {
    display: block;
    width: 100%;
}
.project-content {
    display: block;
    width: calc(100% - 100px);
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 280px;
    margin-left: 50px;
    padding-top: 240px;
}
.project-box {
    display: block;
    margin-bottom: 120px;
    margin-left: 450px;
}
.project-num {
    font-size: 36px;
}
.project-top {
    font-size: 96px;
    margin-top: -24px;
    margin-bottom: 20px;
}
.project-text {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.8px;
}


.keyword {
    display: block;
    width: 100%;
}
.keyword-wrap {
    margin-bottom: 280px;
}
.keyword-content {
    display: block;
    width: calc(100% - 100px);
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
    padding-top: 300px;
}
.keyword-box {
    display: flex;
    width: 100%;
    align-content: flex-end;
}
.keyword-num {
    display: block;
    width: 150px;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}
.keyword-item {
    display: block;
    width: 235px;
    margin-right: 65px;
    font-size: 40px;
    font-weight: 600;
}
.keyword-text {
    display: block;
    width: calc(100% - 450px);
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.8px;
    line-height: 56px;
}
.keyword-inner {
    display: block;
    width: 100%;
    height: 48px;
}
.keyword-motion {
    display: block;
    width: 100%;   
    overflow: hidden;
}
.keyword-motion img {
    margin-left: 100%;
    /* margin-left: -5680px */
}


















.cursor {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    border-radius: 9999px;
    background-color: #8800ff;
    pointer-events: none;
    z-index: 9999;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: -25% -25%;
    animation-name: cursorOff;
    animation-duration: 0.3s;
}

.cursor-on {
    transform: scale(1) translate(-50%, -50%);
    transform-origin: -25% -25%;
    animation-name: cursorOn;
    animation-duration: 0.3s;
}

@keyframes cursorOn {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}
@-webkit-keyframes cursorOn {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}
@keyframes cursorOff {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0) translate(-50%, -50%);
    }
}
@-webkit-keyframes cursorOff {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0) translate(-50%, -50%);
    }
}

/* ================================================= */
/* .star-wrap {
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    filter: blur(4px);
    width: 140px;
    height: 140px;
}
.stars {
    display: block;
    position: absolute;
    top: 0;
    left: 60px;
    width: 140px;
    height: 140px;
}
.stars .star {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top-width: 0px;
    border-right-width: 10px;
    border-left-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom: 70px solid #8800ff;
    top: 0px;
    left: 0;
}
.stars .star-2 {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom-width: 0px;
    border-right-width: 10px;
    border-left-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-top: 70px solid #8800ff;
    top: 70px;
    left: 0;
}
.stars2 {
    display: block;
    position: absolute;
    top:60px;
    left: 0;
    width: 140px;
    height: 140px;
}
.stars2 .star {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top-width: 10px;
    border-left-width: 0px;
    border-bottom-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-right: 70px solid #8800ff;
    top: 0px;
    left: 0;
}
.stars2 .star-2 {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-right-width: 0px;
    border-style: solid;
    border-color: transparent;
    border-left: 70px solid #8800ff;
    top: 0;
    left: 70px;
} */