html, body {display: block; width: 100%; position: relative;}

#wrap {display: block; width: 100%; position: relative;}

.slide {display: block; width: 100%; height: 320px; position: relative;}
.slide-wrap {display: block; width: 1280px; height: 320px; margin: 0 auto; overflow: hidden;}
.slide-set {display: flex; width: 3010px; height: 320px; position: relative; justify-content: center; align-items: center;}
.slide-list {display: block; width: 430px; height: 286px; border-bottom-left-radius: 45px; overflow: hidden; transform: scale(0.9);} 
.slide-list-sel {transform: scale(1);}
.slide-btn {display: block; width: 100%; height: 100%;}
.slide-btn img {width: 100%;}

.inner {display: block; width: 100%; position: relative; padding: 32px 0 36px 0;}
.inner-wrap {display: block; width: 1280px; position: relative; margin: 0 auto;}
.inner-title {display: block; width: 1098px; position: relative; padding-left: 91px;}
.inner-title h2 {display: inline-block; font-size: 20px; font-weight: 600; margin-bottom: 16px;}

.today {/*height: 400px;*/ background-image: url(../img/today_background.png); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;}
.today-title {color: #ffffff;}
.today-container {display: block; width: 100%; position: relative;}
.today-slide {display: block; width: 1098px; position: relative; margin: 0 auto; overflow: hidden;}
.today-slide-set {display: flex; width: 2196px;}
.today-slide-list {display: block; width: 163px; margin-left: 24px;}
.today-slide-list:first-child {margin-left: 0px;}
.today-box {display: block;}
.book-img-btn {display: block; width: 163px; position: relative;}
.book-img-btn img {width: 100%;}
.hover-black {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: linear-gradient(to left, #00000066 0, transparent 7%, transparent 93%, #00000066);}
.book-img-btn:hover .hover-black {background: linear-gradient(to left, #00000099 0, #00000044 7%, #00000044 93%, #00000099);}