@media screen and (min-width: 1024px) and (max-width: 1279px){
    
    .desktop-br {display: none;}
    .tablet-h-br {display: block;}
    .tablet-v-br {display: none;}
    .mobile-br {display: none;}

    html {display: block; width: 100%; overflow-x: hidden;}
    body {display: block; width: 100%;}
    .overflow-hidden {display: block; overflow: hidden;}

    header {display: block; width: 100%; height: 80px; position: fixed; z-index: 9999;}
    .header-wrap {display: block; width: calc(100vw - 120px); height: 80px; position: relative; margin: 0 auto; }
    .logo-top {display: block; width: 148px; height: 37px; position: relative; top: 40px;}
    .logo-btn {display: block; width: 100%; height: 100%; position: relative;}
    .logo-img {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    .logo-img-bk {display: block; opacity: 0;}
    .logo-img-wt {display: block; opacity: 1;}
    nav {display: block; height: 40px; position: absolute; top: 40px; right: 0px;}
    .nav-ul {display: block; height: 40px; position: relative;}
    .nav-li {display: inline-block; height: 40px; position: relative; margin-left: 26px;}
    .nav-btn {display: block; height: 40px; position: relative; padding: 0 4px; color: #ffffff; font-size: 18px; line-height: 40px; font-weight: 700;}
    .nav-btn:hover {color: #ffffff;}
    
    section {display: block; width: 100%; position: relative;}
    .section-wrap {display: block; width: 100%; position: relative;}

    h2 {display: block; position: relative; font-size: 60px; font-weight: 800; text-transform: uppercase;}
    h3 {display: block; position: relative; font-size: 32px; font-weight: 700; }
    .line-design {display: block; width: 100%; height: 2px; position: relative; background-color: #ffffff; }

    
    #main {display: block; width: 100%; height: 100vh; position: relative;}
    .main-wrap {display: flex; width: 100%; height: 100%; position: relative; flex-direction: row;}
    .main-left {display: block; width: 50%; height: 100%; position: relative;}
    .main-img {display: block; width: 100%; height: 100%; position: relative;}
    .main-img-box {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
    .main-img {display: block; width: 200%; position: absolute; right: 0%; object-fit: cover; filter:grayscale(1) opacity(0.9) brightness(0.4); transform-origin: 100% 50%; transform: scale(1);}
    .main-right {display: block; width: 50%; height: 100%; position: relative; background-color: #000000;}
    .main-slogan {display: block; width: calc(100% - 30px); position: absolute; bottom: 80px; left: 30px; color: #ffffff; font-size: 6.4vw; font-weight: 900; overflow: hidden;}
    .main-slogan p {display: block; transform: translate(0, 0);}

    #about {display: block; width: 100%; position: relative;}
    .about-wrap {display: block; width: 100%; position: relative;}
    .about-top {display: flex; width: 100%; height: 980px; position: relative; flex-direction: row;}
    .about-left {display: block; width: 50%; margin: 0 auto; position: relative; background-color: #ffffff;}
    .about-introduce {display: block; width: calc(100% - 60px); position: relative; margin: 0 0 0 auto;}
    .about-head {margin-top: 120px;}
    .about-text {display: block; width: calc(100% - 30px); position: relative; margin-top: 44px; font-size: 2.3vw;}
    .about-text-para {display: block; width: 100%; position: relative; margin-top: 24px;}
    .bold {font-weight: 700;}
    .about-right {display: block; width: 50%; position: relative; background-color: #000000; color: #ffffff;}
    .about-img-wrap {display: block; width: 100%; height: 400px; position: relative; overflow: hidden;}
    .about-img {width: 100%; height: 100%; object-fit: cover; position:absolute; object-position: 40% 60%;}
    .about-career {display: block; width: calc(100% - 30px); height: 580px; position: relative; margin-left: auto;}
    .about-edu {display: block; width: 100%; margin-top: 40px;}
    /* .about-edu-head {} */
    .about-edu-content {display: block; width: 100%; margin-top: 20px;}
    .about-award {display: block; width: 100%; margin-top: 40px;}
    /* .about-award-head {} */
    .about-award-content {display: block; width: 100%; margin-top: 20px;}
    .about-career dl {display: flex; width: 100%; position: relative; margin-top: 12px;}
    .about-career dl dt {display: inline-block; width: 104px; font-size: 22px; margin-bottom: 4px;}
    .about-career dl dd {display: inline-block;  font-size: 22px;}

    .about-bottom {display: block; width: 100%; height: 500px; position: relative; background-color: #000000;}
    .ability {display: block; width: calc(100% - 120px); height: 100%; position: relative; margin: 0 auto; padding-top: 80px; color: #ffffff;}
    .ability-head {text-transform: uppercase;}
    .ability-content {display: flex; width: 100%; position: relative; margin-top: 32px; flex-direction: row; flex-wrap: wrap; }
    .ability-box {display: block; width: calc(50% - 30px); position: relative; margin-bottom: 80px;}
    .ability-box:nth-child(n) {margin: 0 30px 80px 0;}
    .ability-box:nth-child(2n) {margin: 0 0 80px 30px;}
    .ability-box-head {display: block; width: 100%; position: relative; margin-bottom: 8px; font-size: 28px; font-weight: 600; }
    .ability-box-text {display: block; width: 100%; position: relative; margin-top: 8px; font-size: 20px; font-weight: 300; letter-spacing: 0.6px; line-height: 28px;}

    #skit-animate {display: none; width: 100%; height: 450px; position: relative;}

    #work {display: block; width: 100%; height: 2600px; position: relative; background-color: #000000; color: #ffffff;}
    .work-wrap {display: block; width: calc(100% - 120px); height: calc(100% - 180px); padding-top: 180px; margin: 0 auto;}
    .work-head {color: #ffffff;}
    .work-content {display: block; width: 100%; position: relative; margin-top: 120px;}
    .work-box {display: block; height: 400px; position: relative; margin-bottom: 150px;}
    .work-img-box {display: block; width: 640px; height: 400px; position: absolute; z-index: 1;}
    .work-img-rotate {display: block; width: 640px; height: 400px; position: relative; background-color: violet;}
    .work-img {display: block; width: 100%; height: 100%; position: relative; object-fit: fill; filter: grayscale(1) brightness(0.8); -webkit-filter: grayscale(1) brightness(0.8);}
    .work-box-left .work-img-box {left: 0;}
    .work-box-right .work-img-box {right: 0;}
    .work-box-left .work-img-rotate {transform-origin: 10% 50%; transform: perspective(640px) rotateY(10deg)}
    .work-box-right .work-img-rotate {transform-origin: 90% 50%; transform: perspective(640px) rotateY(-10deg)}
    /* .work-box-left .work-img-rotate:hover {transition: all 500ms cubic-bezier(0.320, 1.000, 0.320, 1.000); transform-origin: 0% 50%; transform: perspective(640px) rotateY(0deg);}
    .work-box-right .work-img-rotate:hover {transition: all 500ms cubic-bezier(0.320, 1.000, 0.320, 1.000); transform-origin: 100% 50%; transform: perspective(640px) rotateY(0deg);} */
    .work-box-left .work-text {display: block; width: 370px; position: absolute; bottom: 40px; left: 520px; z-index: 2;}
    .work-box-right .work-text {display: block; width: 370px; position: absolute; bottom: 40px; right: 520px; z-index: 2;}
    .work-box-left .work-title {display: block; position: absolute; bottom: 36px; margin-bottom: 8px; font-size: 38px; font-weight: 700; line-height: 42px;}
    .work-box-right .work-title {display: block; position: absolute; bottom: 36px; margin-bottom: 8px; font-size: 38px; font-weight: 700; line-height: 42px; text-align: right;}
    .work-box .line-design {position: absolute; bottom: 32px;}
    .work-box-left .work-term {display: block; height: 24px; position: absolute; right: 0; bottom: 0; font-size: 20px;}
    .work-box-right .work-term {display: block; height: 24px; position: absolute; bottom: 0; left: 0; font-size: 20px;}
    .work-btn, .work-btn:hover {color: #ffffff;}
    
    #contact {display: block; width: 100%; height: 880px; position: relative;}
    .contact-wrap {display: flex; position: relative; width: 100%; height: 100%; flex-direction: column;}
    .contact-top {display: block; width: calc(100% - 120px); height: 50%; position: relative; margin: 0 auto; background-color: #fff;}
    .contact-left {display: block; width: 100%; position: relative; margin-top: 120px;}
    .contact-title {display: block; width: 100%; font-size: 80px; font-weight: 900;}
    .contact-right {display: block; width: 100%; position: absolute; bottom: 40px; right: 0; margin-left: auto;}
    .contact-ul {display: flex; width: 100%; }
    .contact-li {display: block; width: 24%;}
    .contact-li dl {display: block; width: 100%; margin-bottom: 24px;}
    .contact-li dl dt {display: block; width: 100%; font-size: 24px; font-weight: 600;}
    .contact-li dl dd {display: block; width: 100%; font-size: 20px; font-weight: 300; margin-top: 4px;}
    .contact-link {border-bottom: 2px solid #333333; padding-right: 3px;}
    .contact-bottom {display: block; width: 100%; height: 50%; position: relative; z-index: -1;}
    .contact-bottom-img {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
    .contact-img {width: 100%; height: 100%; object-fit: cover; position:absolute; object-position: 50% 20%;}
    .contact-download-wrap {display: block; width: 100%; height: 70px; position: absolute; top: calc(50% - 35px);}
    .contact-download {display: block; width: calc(100% - 120px);  height: 70px; position: relative; margin: 0 auto;  line-height: 70px; font-size: 20px;}
    .contact-download-btn {display: block; width: 356px; height: 66px; position: relative; border: 2px solid #7f7f7f; background-color: #ffffff; text-align: center;}

    footer {display: block; width: 100%; height: 80px; position: relative; background-color: #000000;}
    .footer-wrap {display: block; width: calc(100% - 160px); height: 80px; position: relative; margin: 0 auto;}
    .copyright {display: block; width: 50%; height: 80px; position: absolute; color: #7f7f7f; line-height: 80px;}
    .footer-link {display: block; height: 80px; position: absolute; right: 0;}
    .footer-box {display: block; height: 80px; position: absolute; right: 0;}
    .footer-insta {right: 60px;}
    .footer-btn {display: block; width: 32px; height: 32px; margin-top: 24px;}
    .footer-btn img {display:block; width: 100%; height: 100%; opacity: 0.7;}

}

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    
    .desktop-br {display: none;}
    .tablet-h-br {display: none;}
    .tablet-v-br {display: block;}
    .mobile-br {display: none;}

    html {display: block; width: 100%; overflow-x: hidden;}
    body {display: block; width: 100%;}
    .overflow-hidden {display: block; overflow: hidden;}

    header {display: block; width: 100%; height: 80px; position: fixed; z-index: 9999;}
    .header-wrap {display: block; width: calc(100vw - 120px); height: 80px; position: relative; margin: 0 auto; }
    .logo-top {display: block; width: 148px; height: 37px; position: relative; top: 40px;}
    .logo-btn {display: block; width: 100%; height: 100%; position: relative;}
    .logo-img {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    .logo-img-bk {display: block; opacity: 0;}
    .logo-img-wt {display: block; opacity: 1;}
    nav {display: block; height: 40px; position: absolute; top: 40px; right: 0px;}
    .nav-ul {display: block; height: 40px; position: relative;}
    .nav-li {display: inline-block; height: 40px; position: relative; margin-left: 26px;}
    .nav-btn {display: block; height: 40px; position: relative; padding: 0 4px; color: #ffffff; font-size: 18px; line-height: 40px; font-weight: 700;}
    .nav-btn:hover {color: #ffffff;}
    
    section {display: block; width: 100%; position: relative;}
    .section-wrap {display: block; width: 100%; position: relative;}

    h2 {display: block; position: relative; font-size: 52px; font-weight: 800; text-transform: uppercase;}
    h3 {display: block; position: relative; font-size: 32px; font-weight: 700; }
    .line-design {display: block; width: 100%; height: 2px; position: relative; background-color: #ffffff; }

    
    #main {display: block; width: 100%; height: 100vh; position: relative;}
    .main-wrap {display: flex; width: 100%; height: 100%; position: relative; flex-direction: row;}
    .main-left {display: block; width: 50%; height: 100%; position: relative;}
    .main-img {display: block; width: 100%; height: 100%; position: relative;}
    .main-img-box {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
    .main-img {display: block; width: 200%; position: absolute; right: 0%; object-fit: cover; filter:grayscale(1) opacity(0.9) brightness(0.4); transform-origin: 100% 50%; transform: scale(1);}
    .main-right {display: block; width: 50%; height: 100%; position: relative; background-color: #000000;}
    .main-slogan {display: block; width: calc(100% - 30px); position: absolute; bottom: 80px; left: 30px; color: #ffffff; font-size: 6.4vw; font-weight: 900; overflow: hidden;}
    .main-slogan p {display: block; transform: translate(0, 0);}

    #about {display: block; width: 100%; position: relative;}
    .about-wrap {display: block; width: 100%; position: relative;}
    .about-top {display: flex; width: 100%; height: 1020px; position: relative; flex-direction: row;}
    .about-left {display: block; width: 50%; margin: 0 auto; position: relative; background-color: #ffffff;}
    .about-introduce {display: block; width: calc(100% - 60px); position: relative; margin: 0 0 0 auto;}
    .about-head {margin-top: 120px;}
    .about-text {display: block; width: calc(100% - 30px); position: relative; margin-top: 30px; font-size: 2.7vw; line-height: 3.2vw;}
    .about-text-para {display: block; width: 100%; position: relative; margin-top: 20px;}
    .bold {font-weight: 700;}
    .about-right {display: block; width: 50%; position: relative; background-color: #000000; color: #ffffff;}
    .about-img-wrap {display: block; width: 100%; height: 400px; position: relative; overflow: hidden;}
    .about-img {width: 100%; height: 100%; object-fit: cover; position:absolute; object-position: 40% 60%;}
    .about-career {display: block; width: calc(100% - 30px); height: 580px; position: relative; margin-left: auto;}
    .about-edu {display: block; width: 100%; margin-top: 30px;}
    /* .about-edu-head {} */
    .about-edu-content {display: block; width: 100%; margin-top: 20px;}
    .about-award {display: block; width: 100%; margin-top: 30px;}
    /* .about-award-head {} */
    .about-award-content {display: block; width: 100%; margin-top: 20px;}
    .about-career dl {display: flex; width: 100%; position: relative; margin-top: 12px; flex-direction: column;}
    .about-career dl dt {display: inline-block; width: 104px; font-size: 22px; margin-bottom: 4px;}
    .about-career dl dd {display: inline-block;  font-size: 20px;}

    .about-bottom {display: block; width: 100%; height: 600px; position: relative; background-color: #000000;}
    .ability {display: block; width: calc(100% - 120px); height: 100%; position: relative; margin: 0 auto; padding-top: 80px; color: #ffffff;}
    .ability-head {text-transform: uppercase;}
    .ability-content {display: flex; width: 100%; position: relative; margin-top: 32px; flex-direction: row; flex-wrap: wrap; }
    .ability-box {display: block; width: calc(50% - 30px); position: relative; margin-bottom: 80px;}
    .ability-box:nth-child(n) {margin: 0 30px 80px 0;}
    .ability-box:nth-child(2n) {margin: 0 0 80px 30px;}
    .ability-box-head {display: block; width: 100%; position: relative; margin-bottom: 8px; font-size: 28px; font-weight: 600; }
    .ability-box-text {display: block; width: 100%; position: relative; margin-top: 8px; font-size: 18px; font-weight: 300; letter-spacing: 0.6px; line-height: 28px;}

    #skit-animate {display: none; width: 100%; height: 450px; position: relative;}

    #work {display: block; width: 100%; height: 3000px; position: relative; background-color: #000000; color: #ffffff;}
    .work-wrap {display: block; width: calc(100% - 120px); height: calc(100% - 180px); padding-top: 180px; margin: 0 auto;}
    .work-head {color: #ffffff;}
    .work-content {display: block; width: 100%; position: relative; margin-top: 120px;}
    .work-box {display: block; width: 100%; height: 500px; position: relative; margin-bottom: 150px;}
    .work-img-box {display: block; width: 640px; height: 400px; position: absolute; z-index: 1;}
    .work-img-rotate {display: block; width: 640px; height: 400px; position: relative; background-color: violet;}
    .work-img {display: block; width: 100%; height: 100%; position: relative; object-fit: fill; filter: grayscale(1) brightness(0.8); -webkit-filter: grayscale(1) brightness(0.8);}
    .work-box-left .work-img-box {left: 0;}
    .work-box-right .work-img-box {right: 0;}
    .work-box-left .work-img-rotate {transform-origin: 0% 50%; transform: perspective(640px) rotateY(0deg)}
    .work-box-right .work-img-rotate {transform-origin: 90% 50%; transform: perspective(640px) rotateY(0deg)}
    /* .work-box-left .work-img-rotate:hover {transition: all 500ms cubic-bezier(0.320, 1.000, 0.320, 1.000); transform-origin: 0% 50%; transform: perspective(640px) rotateY(0deg);}
    .work-box-right .work-img-rotate:hover {transition: all 500ms cubic-bezier(0.320, 1.000, 0.320, 1.000); transform-origin: 100% 50%; transform: perspective(640px) rotateY(0deg);} */
    .work-box-left .work-text {display: block; width: 100%; position: absolute; bottom: 0px; left: 0; z-index: 2;}
    .work-box-right .work-text {display: block; width: 100%; position: absolute; bottom: 0px; right: 0; z-index: 2;}
    .work-box-left .work-title {display: block; position: absolute; bottom: 36px; left: 0; margin-bottom: 8px; font-size: 32px; font-weight: 700; line-height: 42px;}
    .work-box-right .work-title {display: block; position: absolute; bottom: 36px; right: 0; margin-bottom: 8px; font-size: 32px; font-weight: 700; line-height: 42px; text-align: right;}
    .work-box .line-design {position: absolute; bottom: 32px;}
    .work-box-left .work-term {display: block; height: 24px; position: absolute; right: 0; bottom: 0; font-size: 20px;}
    .work-box-right .work-term {display: block; height: 24px; position: absolute; bottom: 0; left: 0; font-size: 20px;}
    .work-btn, .work-btn:hover {color: #ffffff;}
    
    #contact {display: block; width: 100%; height: 880px; position: relative;}
    .contact-wrap {display: flex; position: relative; width: 100%; height: 100%; flex-direction: column;}
    .contact-top {display: block; width: calc(100% - 120px); height: 50%; position: relative; margin: 0 auto; background-color: #fff;}
    .contact-left {display: block; width: 100%; position: relative; margin-top: 120px;}
    .contact-title {display: block; width: 100%; font-size: 74px; font-weight: 900;}
    .contact-right {display: block; width: 100%; position: absolute; bottom: 40px; right: 0; margin-left: auto;}
    .contact-ul {display: flex; width: 100%; justify-content: space-between;}
    .contact-li {display: block; width: 25%;}
    .contact-li dl {display: block; width: 100%; margin-bottom: 24px;}
    .contact-li dl dt {display: block; width: 100%; font-size: 24px; font-weight: 600;}
    .contact-li dl dd {display: block; width: 100%; font-size: 20px; font-weight: 300; margin-top: 4px;}
    .contact-link {border-bottom: 2px solid #333333; padding-right: 3px;}
    .contact-bottom {display: block; width: 100%; height: 50%; position: relative; z-index: -1;}
    .contact-bottom-img {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
    .contact-img {width: 100%; height: 100%; object-fit: cover; position:absolute; object-position: 50% 20%;}
    .contact-download-wrap {display: block; width: 100%; height: 70px; position: absolute; top: calc(50% - 35px);}
    .contact-download {display: block; width: calc(100% - 120px);  height: 70px; position: relative; margin: 0 auto;  line-height: 70px; font-size: 20px;}
    .contact-download-btn {display: block; width: 356px; height: 66px; position: relative; border: 2px solid #7f7f7f; background-color: #ffffff; text-align: center;}

    footer {display: block; width: 100%; height: 80px; position: relative; background-color: #000000;}
    .footer-wrap {display: block; width: calc(100% - 140px); height: 80px; position: relative; margin: 0 auto;}
    .copyright {display: block; width: 50%; height: 80px; position: absolute; color: #7f7f7f; line-height: 80px;}
    .footer-link {display: block; height: 80px; position: absolute; right: 0;}
    .footer-box {display: block; height: 80px; position: absolute; right: 0;}
    .footer-insta {right: 60px;}
    .footer-btn {display: block; width: 32px; height: 32px; margin-top: 24px;}
    .footer-btn img {display:block; width: 100%; height: 100%; opacity: 0.7;}

}